<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery {% block title %}{% endblock %}</title>

    {% load pwa %}
    {% progressive_web_app_meta %}
    {% load static %}

    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="shortcut icon" type="image/png" href="{% static 'delivery/images/icons/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'delivery/css/bootstrap.css' %}">
    <script src="{% static 'delivery/js/jquery-3.4.1.min.js' %}" ></script>
    <script src="{% static 'delivery/js/bootstrap.min.js' %}" ></script>
</head>
<body>
    {% include '_navbar.html' %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto">

                {% block content %}{% endblock %}

            </div>
        </div>
    </div>
</body>
<br>
</html>